<div class="home__main-container col-xs-12">
    <div class="home__container">
        <h1 class="home__title">Bienvenido a <br> <span>MusicP</span></h1>
        <p class="home__text">Empieza a escuchar música de tus artistas favoritos y descubre nuevos hits!.</p>
        <hr class="my-3">
        <p class="home__text">Podrás disfrutar de tus discos favoritos al alcance de tu mano.</p>
        <a class="home__btn btn btn-md" [routerLink]="['/artistas', 1]" role="button">Ver artistas</a>
    </div>
</div>