<div class="album-image">
    <span *ngIf="song.album">
        <img id="play-image-album" src="{{url + 'get-image-album/' + song.album.image}}">
    </span>
    <span *ngIf="!song.album">
        <img id="play-image-album" src="assets/images/corchea.png">
    </span >
</div>

<div class="audio-file">            
    <div class="player__text">
        
            <span id="play-song-title">
                {{song.name}}
            </span>

            <span id="play-song-artist">
                <span *ngIf="song.album.artist">
                    {{song.album.artist.name}}
                </span>
            </span>
    </div>
</div>

<div class="player-box">
    <audio controls id="player">
        <source id="mp3-source" src="{{url + 'get-file-song/' + song.file}}" type="audio/mpeg">
        Tu navegador no es compatible para reproducir el contenido
    </audio>
</div>
