     
<!-- ///////////////////////////////////////// CONTENEDOR DE USUARIO LOGUEADO ///////////////////////////////////////////// -->
<div *ngIf="identity" class="navigation col-xs-12">        
  
  
 <!----------------------------  Menú principal de navegación ------------------------------->

  <!-- Acá carga el reproductor -->
  <player class="player" *ngIf="identity"></player>
  <!-- ------------------------ -->


  <nav id="navigation" *ngIf="identity">

    <a [routerLink]="['/']">
      <img src="../assets/images/mezzopiano.svg" alt="logo">
      <!-- {{title}} -->
    </a>

    <a href="#">
      buscar
    </a>

    <a [routerLink]="['/artistas', 1]" [routerLinkActive]="['actived']">
      Artistas
    </a>

    <a [routerLink]="['./mis-datos']" [routerLinkActive]="['actived']" >
      datos
    </a>

    <a (click)="logout()" class="btn-logout">    
      Salir
    </a>

    <!------------------------ Opciones de usuario identificado en la barra  -------------------------->

    <nav id="user_logged" *ngIf="identity">

      <div class="user-image">
        <img id="image-logged" src="{{url + 'get-image-user/' + identity.image}}" />
      </div>
  
      <span id="identity_name">
        {{identity.name}}
      </span>

    </nav>
  </nav>
</div>


<div [class.hidden]="!identity && !userSocial" class="central col-xl-12">  <!-- ng class si no está identity que se esconda-->       
  
  <!-- Acá se cargan los componentes asociados al path de cada ruta -->
  <router-outlet></router-outlet>  

  <div class="clearfix"></div>

</div>

<!-- ///////////////////////////////////////////// CONTENEDOR DE USUARIO NO LOGUEADO ///////////////////////////////////////////// -->  

<!---------------------- login de usuario ------------------------->

<div class="container__login-register col-xs-12 col-xl-10" *ngIf="!identity && !userSocial">
  <div class="row">
    <div class=" login__container col-xs-12 col-xl-6">

      <h1>Login</h1>          

      <div *ngIf="errorMessage">
        <div class="alert alert-danger">
          <strong>Error!</strong> {{errorMessage}}
        </div>        
      </div>

      <!-- Inicio de sesión con redes sociales -->
      <div class="social-login">
        <button class="btn btn-danger" (click)="signInWithGoogle()">
          Entrar con Google
        </button>
        <button class="btn btn-primary" (click)="signInWithFB()">
          Entrar con Facebook
        </button>
      </div>
      
      <!-- Inicio de sesión común -->
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-xs-12 login__form">   
        <p>
          <label>Correo electrónico:</label>
          <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" placeholder="Ingrese email" required> 
          <span *ngIf="!email.valid && email.touched">  
              El email es obligatorio
          </span>
        </p>

        <p>
          <label>Contraseña:</label>
          <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control" placeholder="Ingrese contraseña" required>
        </p>
        
        <input type="submit" value="Entrar" class="btn btn-default">
      </form>

    </div>



    <!-- +++++++++++++++++++++++++++++++++ Registro de usuario ++++++++++++++++++++++++++++++++++++++++++-->

    <div class="register__container col-xs-12 col-xl-6 ">
      <h1>Registrarse</h1>
      <div *ngIf="alertRegister">
        <div class="alert alert-success">
          {{alertRegister}}
        </div>
      </div>

      <form #registerForm="ngForm" (submit)="onSubmitRegister()" class="col-xs-12 register__form">
        <p>
          <label>Nombre:</label>
          <input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" class="form-control"  placeholder="Ingrese nombre" required>
          <span *ngIf="!name.valid && name.touched"> 
            El nombre es obligatorio
          </span>
        </p>

        <p>
          <label>Apellidos:</label>
          <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname" class="form-control"  placeholder="Ingrese apellido" required>
          <span *ngIf="!surname.valid && surname.touched"> 
            El Apellido es obligatorio
          </span>
        </p>

        <p>
          <label>Correo electrónico:</label>
          <input type="text" #email="ngModel" name="email" [(ngModel)]="user_register.email" class="form-control" placeholder="Ingrese email" required>
          <span *ngIf="!email.valid && email.touched">  
            El email es obligatorio
          </span>
        </p>

        <p>
          <label>Contraseña:</label>
          <input type="password" #password="ngModel" name="password" [(ngModel)]="user_register.password" class="form-control" placeholder="Ingrese contraseña" required>
          <span *ngIf="!password.valid && password.touched">  
            La Contraseña es obligatoria
          </span>
        </p>

        <input type="submit" value="Registrarse" class="btn btn-default">
      </form>

    </div>
  </div>
</div>

  





