#album-head-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
    margin-top: 8%;
    .image{
        background-color: #ffffff;
        box-shadow: 0px 0px 8px #686365;
        object-fit: cover;
        width: 43vw;
        height: 43vw;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .data{
        width: 100%;
        h1{
            font-size: 2.3rem;
            color: #ffffff;
            font-weight: 600;
            margin-top: 5%;
            width: 100%;
        }
        p{
            color: #ffffff;
            text-align: center;
            font-size: 1.4rem;
            margin: 1%;
            width: 100%;
        }
        a{
            color: #000000ad;
            font-weight: 700;
            font-size: 1.2rem;
            margin-top: 0;
            transition: all 400ms;
            padding: 1.1em;
            text-transform: uppercase;
            &:before{
                content: ' \002B'; 
                font-weight: 900;
                padding-right: 4%;
                color: #000000ad;
            }
        }
    }
}
#gallery-songs{
    height: 100%;
    width: 100%;
    color: #ffffff;
    padding: 4%;
    margin-bottom: 50%;
    #songs-list{
        padding: 0;
        .songs__title-list{
            font-size: 1.4rem;
            font-weight: 600;
        }
        .song-item{
            list-style: none;
            padding-top: 2%;
            .title{
                margin-top: 7%;
                overflow: hidden;
                white-space: nowrap;
                .songs__name{
                    font-size: 1.5rem;
                    padding: 1.1em;
                    cursor: pointer;
                    &:hover{
                        animation-duration: 12s;
                        animation-name: slidetext;
                    }
                }

                @keyframes slidetext{
                    from {
                        margin-left: 0;
                        width: 100%
                    }
                    20%{
                        margin-left: -50%;
                        width: 100%;
                    }                        
                    40%{
                        margin-left: -100%;
                        width: 100%;
                    }                        
                    60% {
                        margin-left: -150%;
                        width: 100%;
                    }                        
                    80%{
                        margin-left: -250%;
                        width: 100%;
                    }
                    to{
                        margin-left: -300%;
                        width: 100%;
                    }
                }

                .buttons{
                    width: 100%;
                    margin-top: 7%;
                    .btn-warning{
                        margin-right: 5%;
                    }
                    a{
                        font-size: 1.5rem;
                        padding: .8em .5em .8em .5em;
                    }
                }

                .seguro-song{
                    margin-top: -15%;
                    width: 83%;
                    height: 10%;
                    display: flex;
                    flex-direction: row;
                    a{
                        font-size: 1.4rem;
                        padding: .9em .3em .9em .3em;
                    }
                    .btn-danger{
                        margin-right: 5%;
                    }
                }
            }
        }
    }
}